# Flutter/Dart specific files
*.iml
*.metadata
.idea/
.dart_tool/
.pub/
.build/
.flutter-plugins
.flutter-plugins-dependencies

# iOS specific files
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec

# Android specific files
android/build/
android/gradle/
android/local.properties
android/app/build/

# macOS specific files
macos/Pods/

# Windows specific files
windows/Flutter/flutter_export_environment.sh
